.table-container{
    overflow-x: auto;
}

.table{
    width: 100%;
}

.mat-column-id{
    border-right: 1px solid grey;
    padding-right: 20px;
    text-align: center;
}

.mat-column-name{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-registrationDate{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-role{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-isActive{
    border-right: 1px solid grey;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
}

.mat-column-actions{
    padding-left: 20px;
    text-align: center;
}

.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

tr.expanded-detail-row {
    height: 0;
}

tr.element-row:hover td{
    background: darkolivegreen;
}

tr.element-row:active td{
    background: darkgreen;
}  

.expanded-row td {
    background-color: rgb(50, 85, 50);
}
  
.expanded-detail {
    overflow: hidden;
}

.assigned-forest-units {
    margin: 10px 0;
}

.unassign-button {
    width: 50%;
    text-align: end;
}

.mat-list-forest-unit{
    width: 50%;
    text-align: start;
}

.mat-list-item:hover{
    background-color: dimgrey;
}

.mat-icon-button:hover {
    background-color: aliceblue;
    color: black;
}

.delete-user-button .mat-icon-button:hover {
    color: crimson;
}

.restore-user-button .mat-icon-button:hover {
    color: crimson;
}