.table-container{
    overflow-x: auto;
}

.table{
    width: 100%;
}

.mat-column-id{
    border-right: 1px solid grey;
    padding-right: 20px;
    text-align: center;
}

.mat-column-executedHectares{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-harvestedCubicMeters{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-planItemId{
    padding-left: 20px;
    text-align: center;
}

.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-container {
    margin-top: 10px;
    margin-right: 10px;
    text-align: end;
}

.open-dialog-button {
    align-items: right;
    margin-bottom: 10px;
}

.mat-table {
    border: 1px solid grey;
} 