<mat-card>
    <mat-card-title>Dodaj leśnictwo</mat-card-title>

    <form [formGroup]="Form" (ngSubmit)="submit()">

        <mat-form-field appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput formControlName="name" id="name" type="text" class="form-control" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Adres</mat-label>
            <input matInput formControlName="address" id="address" type="text" class="form-control" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Obszar</mat-label>
            <input matInput formControlName="area" id="area" type="number" class="form-control" required>
        </mat-form-field>
        
        <div class="spinner" *ngIf="loading">
            <mat-spinner diameter="40"></mat-spinner>
        </div>

        <mat-card-actions *ngIf="!loading">
            <button mat-button [disabled]="Form.invalid" type="submit">
                Dodaj
            </button>
            <button mat-button type="button" (click)="cancel()">Anuluj</button>
        </mat-card-actions>
        
    </form>
    
</mat-card>
