<div class="container">
    <h2 mat-dialog-title>Dodaj wykonanie planu</h2>
    
    <form [formGroup]="Form" (ngSubmit)="submit()">

        <mat-error *ngIf="errorMessage" style="margin-bottom: 5px;">
            Wystąpił błąd przy próbie utworzenia obiektu
        </mat-error>

        <mat-dialog-content>

            <mat-form-field appearance="fill">
                <mat-label>Leśnictwo</mat-label>
                <mat-select  matInput formControlName="forestUnitId" id="forestUnitId" 
                    (selectionChange)="forestUnitSelected($event.value)" type="number" class="form-control" required>

                    <mat-option *ngFor="let forestUnit of forestUnits" [value]="forestUnit.id">
                        Leśnictwo {{forestUnit.name}}, Adres leśny: {{forestUnit.address}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Oddział</mat-label>
                <mat-select  matInput formControlName="divisionId" id="divisionId"
                    (selectionChange)="divisionSelected($event.value)" type="number" class="form-control" required>

                    <mat-option *ngFor="let division of divisions" [value]="division.id">
                        Adres leśny: {{division.address}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Wydzielenie</mat-label>
                <mat-select  matInput formControlName="subareaId" id="subareaId"
                    (selectionChange)="subareaSelected($event.value)" type="number" class="form-control" required>

                    <mat-option *ngFor="let subarea of subareas" [value]="subarea.id">
                        Adres leśny: {{subarea.address}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Plan</mat-label>
                <mat-select  matInput formControlName="planId" id="planId"
                        type="number" class="form-control" required>

                    <mat-option *ngFor="let plan of plans" [value]="plan.id">
                        Rok: {{plan.year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Pozycja planu</mat-label>
                <mat-select  matInput formControlName="planItemId" id="planItemId"
                        type="number" class="form-control" required>

                    <mat-option *ngFor="let planItem of planItems" [value]="planItem.id">
                        Grupa akcji: {{planItem.actionGroup}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Ilość</mat-label>
                <input matInput formControlName="quantity" id="quantity" type="number" class="form-control" required>
            </mat-form-field>

        </mat-dialog-content>

        

        <mat-dialog-actions>
            <div *ngIf="!loading">
                <button mat-button [disabled]="Form.invalid" type="submit">
                    Dodaj
                </button>
                <button mat-button type="button" (click)="cancel()">Anuluj</button>
            </div>
            
            <div class="spinner" *ngIf="loading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        </mat-dialog-actions>
        
    </form>
</div>
