<div class="container">
  <h1 style="margin-bottom: 10px;">
    Plany
    <mat-divider></mat-divider>
  </h1>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table"> 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let plan"> {{plan.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Rok </th>
        <td mat-cell *matCellDef="let plan"> {{plan.year}} </td>
      </ng-container>
    
      <ng-container matColumnDef="forestUnitName">
        <th mat-header-cell *matHeaderCellDef> Leśnictwo </th>
        <td mat-cell *matCellDef="let plan"> {{plan.forestUnitName}} </td>
      </ng-container>

      <ng-container matColumnDef="plannedHectares">
        <th mat-header-cell *matHeaderCellDef> Ilość planowanych hektarów </th>
        <td mat-cell *matCellDef="let plan"> {{plan.plannedHectares}} </td>
      </ng-container>

      <ng-container matColumnDef="executedHectares">
        <th mat-header-cell *matHeaderCellDef> Ilość wykonanych hektarów </th>
        <td mat-cell *matCellDef="let plan"> {{plan.executedHectares}} </td>
      </ng-container>

      <ng-container matColumnDef="plannedCubicMeters">
        <th mat-header-cell *matHeaderCellDef> Ilość planowanych metrów sześciennych (m<sup>3</sup>) </th>
        <td mat-cell *matCellDef="let plan"> {{plan.plannedCubicMeters}} </td>
      </ng-container>

      <ng-container matColumnDef="harvestedCubicMeters">
        <th mat-header-cell *matHeaderCellDef> Ilość pozyskanych metrów sześciennych (m<sup>3</sup>) </th>
        <td mat-cell *matCellDef="let plan"> {{plan.harvestedCubicMeters}} </td>
      </ng-container>

      <ng-container matColumnDef="isCompleted">
        <th mat-header-cell *matHeaderCellDef> Ukończony </th>
        <td mat-cell *matCellDef="let plan"> {{plan.isCompleted ? "TAK" : "NIE"}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let plan"> 
          <span *ngIf="!plan.isCompleted">
            <button mat-icon-button (click)="markPlanCompleted(plan.id, $event);"
              matTooltip="Plan zostanie oznaczony jako ukończony, dodawanie nowych pozycji zostanie zablokowane">
              <mat-icon>lock_open</mat-icon>
            </button>
          </span>
          <span *ngIf="plan.isCompleted">
            <button mat-icon-button (click)="markPlanIncompleted(plan.id, $event);"
              matTooltip="Plan zostanie oznaczony jako nieukończony, dodawanie nowych pozycji zostanie odblokowane">
              <mat-icon>lock</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr 
        mat-row (click)="clickedPlan(row)" 
        *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7" style="text-align:center;">
          <div *ngIf="!(dataSource.loading | async)">
            Brak danych do wyświetlenia
          </div>
          <div *ngIf="dataSource.loading | async" class="spinner">
            <mat-spinner diameter="80"></mat-spinner>
          </div>
        </td>
      </tr>
    </table>
  </div>
    
  <mat-paginator [length]="(dataSource.totalCount | async)"
              showFirstLastButtons
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
  </mat-paginator>

  <div class="button-container">
    <button mat-mini-fab color="primary" (click)="createPlanDialog()" class="open-dialog-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>