<div class="container">
  <h1 style="margin-bottom: 10px;">
    Kokpit
    <mat-divider></mat-divider>
  </h1>

  <year-date-range-filter>
  </year-date-range-filter>

  <app-forest-unit-filter 
      [selectedForestUnitId]="selectedForestUnitId"
      (selectedForestUnitIdChange)="selectedForestUnitId=$event;">
  </app-forest-unit-filter>

  <app-plan-filter 
        [forestUnitId]="selectedForestUnitId"
        [selectedPlanId]="selectedPlanId"
        (selectedPlanIdChange)="selectedPlanId=$event;">
  </app-plan-filter>

  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" >

    <div *ngIf="selectedPlanId">
      <mat-grid-tile
        [colspan]="( cardLayout | async )?.miniCard?.cols" 
        [rowspan]="( cardLayout | async )?.miniCard?.rows">

        <app-mini-card 
          [title]="'Powierzchnia'" 
          [value]="selectedPlan?.executedHectares"
          [unit]="'ha'">
        </app-mini-card>

      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="( cardLayout | async )?.miniCard?.cols" 
        [rowspan]="( cardLayout | async )?.miniCard?.rows">

        <app-mini-card 
          [title]="'Powierzchnia'" 
          [value]="areaCompletionPercentage"
          [unit]="'%'">
        </app-mini-card>

      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="( cardLayout | async )?.miniCard?.cols" 
        [rowspan]="( cardLayout | async )?.miniCard?.rows">

        <app-mini-card
          [title]="'Masa'" 
          [value]="selectedPlan?.harvestedCubicMeters"
          [unit]="'m3'">
        </app-mini-card>

      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="( cardLayout | async )?.miniCard?.cols" 
        [rowspan]="( cardLayout | async )?.miniCard?.rows">

        <app-mini-card 
          [title]="'Masa'" 
          [value]="massCompletionPercentage"
          [unit]="'%'">
        </app-mini-card>

      </mat-grid-tile>
    </div>

    <mat-grid-tile
      [colspan]="( cardLayout | async )?.chart?.cols" 
      [rowspan]="( cardLayout | async )?.chart?.rows">

      <annual-results-chart
        title="Masa"
        [dataSet1]="plannedHectares"
        [dataLabel1]="'Plan'"
        [dataSet2]="executedHectares"
        [dataLabel2]="'Wykonanie'"
        [labels]="labels">
      </annual-results-chart>

    </mat-grid-tile>

    <mat-grid-tile
      [colspan]="( cardLayout | async )?.chart?.cols" 
      [rowspan]="( cardLayout | async )?.chart?.rows">

      <annual-results-chart
        title="Masa"
        [dataSet1]="plannedCubicMeters"
        [dataLabel1]="'Plan'"
        [dataSet2]="harvestedCubicMeters"
        [dataLabel2]="'Wykonanie'"
        [labels]="labels">
      </annual-results-chart>

    </mat-grid-tile>

  </mat-grid-list>
</div>
