<div class="container">
    <h2 mat-dialog-title>Dodaj pododdział</h2>
    
    <form [formGroup]="Form" (ngSubmit)="submit()">

        <mat-error *ngIf="errorMessage" style="margin-bottom: 5px;">
            Wystąpił błąd przy próbie utworzenia obiektu
        </mat-error>

        <mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Adres leśny</mat-label>
                <input matInput formControlName="address" id="address" type="text" class="form-control" required>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Obszar (ha)</mat-label>
                <input matInput formControlName="area" id="area" type="number" class="form-control" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Id oddziału</mat-label>
                <input matInput formControlName="divisionId" id="divisionId" type="number" class="form-control" required>
            </mat-form-field>
        </mat-dialog-content>

        

        <mat-dialog-actions>
            <div *ngIf="!loading">
                <button mat-button [disabled]="Form.invalid" type="submit">
                    Dodaj
                </button>
                <button mat-button type="button" (click)="cancel()">Anuluj</button>
            </div>
            
            <div class="spinner" *ngIf="loading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        </mat-dialog-actions>
        
    </form>
</div>
