<div class="container">
  <h1 style="margin-bottom: 10px;">
    Pozycje planu
    <mat-divider></mat-divider>
  </h1>

  <mat-form-field appearance="standard" #inputPlanId>
    <mat-label>Filtruj po planie</mat-label>
    <mat-select  matInput type="number" (selectionChange)="filter()" [(value)]="filterPlanId">

        <mat-option *ngFor="let plan of plans" [value]="plan.id">
            {{plan.year}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table"> 
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="isCompleted">
            <th mat-header-cell *matHeaderCellDef> Ukończone </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.isCompleted ? "TAK" : "NIE"}} </td>
          </ng-container>
        
          <ng-container matColumnDef="plannedHectares">
            <th mat-header-cell *matHeaderCellDef> Ilość planowanych hektarów </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.plannedHectares}} </td>
          </ng-container>
    
          <ng-container matColumnDef="plannedCubicMeters">
            <th mat-header-cell *matHeaderCellDef> Ilość planowanych metrów sześciennych (m<sup>3</sup>) </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.plannedCubicMeters}} </td>
          </ng-container>
    
          <ng-container matColumnDef="woodAssortment">
            <th mat-header-cell *matHeaderCellDef> Asortymenty </th>
            <td mat-cell *matCellDef="let planItem"> {{woodAssortmentsToValue(planItem.assortments)}} </td>
          </ng-container>
    
          <ng-container matColumnDef="actionGroup">
            <th mat-header-cell *matHeaderCellDef> Grupa Czynności </th>
            <td mat-cell *matCellDef="let planItem"> {{actionGroups[planItem.actionGroup]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="difficultyLevel">
            <th mat-header-cell *matHeaderCellDef> Poziom trudności </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.difficultyLevel}} </td>
          </ng-container>
    
          <ng-container matColumnDef="factor">
            <th mat-header-cell *matHeaderCellDef> Współczynnik </th>
            <td mat-cell *matCellDef="let planItem"> {{planItem.factor}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="10" style="text-align:center;">
                  <div *ngIf="!(dataSource.loading | async)">
                      Brak danych do wyświetlenia
                  </div>
                  <div *ngIf="dataSource.loading | async" class="spinner">
                      <mat-spinner diameter="80"></mat-spinner>
                  </div>
              </td>
          </tr>
      </table>
  </div>
  
  <mat-paginator [length]="(dataSource.totalCount | async)"
                  showFirstLastButtons
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
  </mat-paginator>

  <div class="button-container">
    <button mat-mini-fab color="primary" (click)="createPlanItemDialog()" class="open-dialog-button">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
    