.container{
    margin: 10px 5%;
    width: 60vw;
    max-width: 1200px;
    min-width: 300px;
}

.table-container{
    overflow-x: auto;
}

.table{
    width: 100%;
}

.mat-column-id{
    border-right: 1px solid currentColor;
    padding-right: 20px;
    text-align: center;
}

.mat-column-quantity{
    border-right: 1px solid currentColor;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-planItemId{
    padding-left: 20px;
    text-align: center;
}

.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}

@media only screen and (max-width: 1100px) {
    .container{
        min-width: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        width: 80vw;
    }
}