.table-container{
    overflow-x: auto;
}

.table{
    width: 100%;
}

.mat-column-id{
    border-right: 1px solid grey;
    padding-right: 20px;
    text-align: center;
}

.mat-column-name{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-address{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-area{
    padding-left: 20px;
    text-align: center;
}

.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}