<div class="container">
    <p>cockpit works!</p>

    <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"></canvas>

        <canvas baseChart 
        [datasets]="chartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="doughnutChartType"></canvas>

        <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="radarChartType"></canvas>

        <canvas baseChart 
        [datasets]="chartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="pieChartType"></canvas>
</div>