.table-container{
    overflow-x: auto;
}

.table{
    width: 100%;
}

.mat-column-id{
    border-right: 1px solid grey;
    padding-right: 20px;
    text-align: center;
}

.mat-column-isCompleted{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-plannedHectares{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-plannedCubicMeters{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-measureUnit{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-woodAssortment{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-actionGroup{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-difficultyLevel{
    border-right: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.mat-column-factor{
    padding-left: 20px;
    text-align: center;
}

.spinner{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px;
}
