<mat-form-field appearance="standard" #inputDivisionId>
    <mat-label>Oddział</mat-label>
    <mat-select  matInput type="number" (selectionChange)="divisionIdChange()" [(value)]="selectedDivisionId">
        <mat-option *ngFor="let division of divisions" [value]="division.id">
            {{division.address}}
        </mat-option>
        <mat-option *ngIf="divisions.length === 0"><mat-icon>report_problem</mat-icon>Brak dostępnych opcji</mat-option>
        <mat-option *ngIf="divisions.length > 0"><mat-icon>cancel</mat-icon>Anuluj</mat-option>
    </mat-select>
</mat-form-field>