<div class="container">
    <h2 mat-dialog-title>Zmień hasło</h2>
    
    <form [formGroup]="Form" (ngSubmit)="submit()">

        <mat-error *ngIf="errorMessage" style="margin-bottom: 5px;">
            Wystąpił błąd przy próbie zmiany hasła
        </mat-error>

        <mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Aktualne hasło</mat-label>
                <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword" id="oldPassword" type="password" class="form-control" required>
                <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
                    <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nowe hasło</mat-label>
                <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" id="newPassword" type="password" class="form-control" required>
                <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                    <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngFor="let validation of validation_messages.newPassword">
                    <mat-error class="error-message" *ngIf="Form.get('newPassword')?.hasError(validation.type) && (Form.get('newPassword')?.dirty || Form.get('newPassword')?.touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-actions>
            <div *ngIf="!loading">
                <button mat-button [disabled]="Form.invalid" type="submit">
                    Zmień hasło
                </button>
                <button mat-button type="button" (click)="cancel()">Anuluj</button>
            </div>
            
            <div class="spinner" *ngIf="loading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        </mat-dialog-actions>
        
    </form>
</div>
